<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/lian-favicon/apple-touch-icon.png">
    <link rel="icon" type="image/x-icon" href="../assets/lian-favicon/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/lian-favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/lian-favicon/favicon-16x16.png">
    <link rel="manifest" href="../assets/lian-favicon/webmanifest.json">
    <link rel="mask-icon" href="../assets/lian-favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/chat.css">
    <meta name="theme-color" content="#ffffff">

    <title>Lian</title>
</head>

<body>
    <div class="chat-container">
        <div class="header">
            <img class="businessLogo" src="../assets/lian.png" alt="businessLogo" width="100px" height="100px">
            <div id="userName"></div>
        </div>
        <div class="message-area">
            <div class="message right">
                You: Hello there!
            </div>
            <div class="message left">
                Annu: Hello Lishal!
            </div>
            <div class="message left">
                Annu: Hello Lishal!
            </div>
            <div class="message left">
                Annu: Hello Lishal!
            </div>
            <div class="message left">
                Annu: Hello Lishal!
            </div>
            <div class="message left">
                Annu: Hello Lishal!
            </div>
            <div class="message left">
                Annu: Hello Lishal!
            </div>
            <div class="message right">
                You: Hello there!
            </div>

        </div>
        <form action="#" class="message-box">
            <input type="text" class="messageArea">
            <button type="submit" class="sendBtn">Send</button>
        </form>

    </div>
</body>
<script src="../scripts/chat.js"></script>

</html>