<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/lian-favicon/apple-touch-icon.png">
    <link rel="icon" type="image/x-icon" href="../assets/lian-favicon/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/lian-favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/lian-favicon/favicon-16x16.png">
    <link rel="manifest" href="../assets/lian-favicon/webmanifest.json">
    <link rel="mask-icon" href="../assets/lian-favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/landing.css">
    <meta name="theme-color" content="#ffffff">

    <title>Lian</title>
</head>

<body>
    <div class="container flex-center ">
        <img class="businessLogo" src="../assets/lian.png" alt="businessLogo" width="100px" height="100px">
        <div class="slogan">
            <span>
                It's time to connect with your close ones
            </span>
        </div>
        <form action="#" class="nameForm flex-center">
            <span>Enter your name:</span>
            <input type="text" class="nameText">
        </form>
        <button type="submit" class="joinBtn">Join</button>

    </div>
</body>

</html>